# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>TensorFlow</li>
    <li>Numpy</li>
    <li>Pandas</li>
    </ol>

<table style="width:80%">
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>Jupyter Notebooks</td>
</tr>

<tr>
<td>Pytorch</td>
</tr>

<tr>
<td>MLFlow</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to mutiply then add integers.

x = 3

y = 4

z = 5

print(3 * 4 + 5)

17

This will convert 200 minutes to hours by dividing by 60.

total_minutes = 200

hours = total_minutes % 60

time_string = "{}:{}".format(hours, minutes)

print(time_string)

3:20

**Objectives**
<ul>
<li>Python</li>
<li>R</li>
<li>SQL</li>
<li>Julia</li>
<li>Java</li>
</ul>

## Author

Lakshmi Holla

Niveditha Pandith

Lydia Li